<template>
  <div class="product-modal__container is-show" @click="hideModal()">
    <button class="exit-modal__btn" @click="hideModal()"></button>
    <div class="product-modal">
      <div class="image-block">
        <img
          class="image-block__img"
          src="../../../img/t-shirt.jpg"
          alt="product image"
          width="300px"
        />
      </div>
      <div class="description-block">
        <h3 class="description-block__title">Title</h3>
        <span class="description-block__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          facilis eaque voluptate, dolore voluptatum tempora a quia fugit illo
          ad pariatur ab harum magnam autem, qui quos! Tempore porro maiores
          sequi illum reprehenderit asperiores necessitatibus ipsum placeat
          reiciendis blanditiis facilis, voluptates iste corrupti enim odio qui
          voluptatum, nobis perspiciatis quae praesentium! Recusandae quo aut
          eum veritatis quibusdam corrupti quaerat explicabo ex saepe iusto, ad
          perferendis sunt incidunt reprehenderit facere, quos adipisci nemo
          laboriosam earum! Porro sint rerum, quibusdam nemo doloribus, tempore
          pariatur dignissimos minima iste necessitatibus deleniti fugit beatae
          fugiat minus. Officia ipsam nobis, alias voluptates necessitatibus
          pariatur corrupti et repudiandae aliquam qui ipsum vero assumenda
          neque inventore minus ea veniam cupiditate excepturi recusandae maxime
          magnam amet possimus, laborum nisi! Cumque, aspernatur veritatis culpa
          quos corporis magnam aliquam et, aut ipsum rem similique sapiente
          voluptatum dolor hic officiis. Laboriosam ratione nihil velit expedita
          excepturi ipsam eveniet, saepe nobis laudantium, labore officiis nemo
          maiores modi praesentium, quisquam sapiente distinctio assumenda ex
          est quae incidunt sit numquam nostrum cupiditate? Ipsa maiores eveniet
          natus temporibus quam sequi nobis, cumque distinctio dolores quos.
          Commodi, sed similique delectus ducimus odit eius explicabo itaque
          obcaecati ut at recusandae quaerat placeat voluptatibus voluptatem
          tempora dolor! Error repellendus magni mollitia adipisci laboriosam
          libero.
        </span>
        <div class="description__BuyNPrice">
          <div class="product-price">25$</div>
          <button class="product-basket">
            <img
              src="../../../img/product-basket.png"
              alt="add to basket button"
              width="30"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductModal",
  methods: {
    hideModal: function () {
      if (process.client) {
        let productModal = document.querySelector(".product-modal__container");
        if (productModal) {
          productModal.classList.remove("is-show");
        } else {
          console.log("error");
        }
      }
    },
  },
};
</script>

<style scoped>
.product-modal__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.product-modal {
  margin: auto;
  width: 70vw;
  height: 75vh;
  background-color: white;
  opacity: 1;
  overflow-y: scroll;
}

.image-block {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}

.image-block__img {
  width: 300px;
}

.description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-bottom: 30px;
}

.description-block__title {
  font-size: 30px;
}

.description-block__text {
  margin-bottom: 40px;
}

.product-price {
  font-size: 23px;
  font-weight: 400;
}

.product-basket {
  background-color: #1b2738;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-basket:hover {
  background-color: #42597a;
}

.description__BuyNPrice {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.exit-modal__btn {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 11%;
  right: 11%;
}

.exit-modal__btn::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 5px;
  transform: rotate(45deg);
}

.exit-modal__btn::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 5px;
  transform: rotate(-45deg);
}

.is-show {
  display: flex;
}
</style>