<template>
  <a href="#">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.01807 7.99994H9.00007V6.07694C9.00007 5.10594 9.10207 3.60494 9.74307 2.67694C10.4201 1.69194 11.3481 0.999944 12.9431 0.999944C15.6411 0.978944 17.0001 1.56194 17.0001 1.56194L16.0421 4.99994C16.0421 4.99994 15.2671 4.52194 14.4641 4.52194C13.6611 4.52194 13.0001 4.83694 13.0001 5.71894V7.99994H17.0001L16.0001 11.9999H13.0001V22.9749H9.00007V11.9849H7.01807V7.99994Z"
        fill="#1B2738"
      />
    </svg>
  </a>
</template>

<script>
export default {
  name: "Facebook",
};
</script>