<template>
  <a href="#">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M22 17C22 19.757 19.757 22 17 22H7C4.243 22 2 19.757 2 17V7C2 4.243 4.243 2 7 2H17C19.757 2 22 4.243 22 7V17ZM17 0H7C3.141 0 0 3.14 0 7V17C0 20.86 3.141 24 7 24H17C20.859 24 24 20.86 24 17V7C24 3.14 20.859 0 17 0ZM12 16C9.794 16 8 14.206 8 12C8 9.794 9.794 8 12 8C14.206 8 16 9.794 16 12C16 14.206 14.206 16 12 16ZM12 6C8.691 6 6 8.691 6 12C6 15.309 8.691 18 12 18C15.309 18 18 15.309 18 12C18 8.691 15.309 6 12 6ZM18.531 3.938C17.685 3.938 17 4.624 17 5.469C17 6.314 17.685 7.001 18.531 7.001C19.377 7.001 20.062 6.315 20.062 5.469C20.062 4.624 19.377 3.938 18.531 3.938Z"
        fill="#333333"
      />
    </svg>
  </a>
</template>

<script>
export default {
  name: "Instagram",
};
</script>