<template>
  <ul class="socials-list">
    <li class="social">
      <Facebook />
    </li>
    <li class="social">
      <Instagram />
    </li>
    <li class="social">
      <Telegram />
    </li>
    <li class="social">
      <Twitter />
    </li>
    <li class="social">
      <Youtube />
    </li>
  </ul>
</template>

<script>
import Facebook from "./Facebook";
import Instagram from "./Instagram.vue";
import Telegram from "./Telegram.vue";
import Twitter from "./Twitter.vue";
import Youtube from "./Youtube.vue";

export default {
  components: { Facebook, Instagram, Telegram, Twitter, Youtube },
  name: "Socials",
};
</script>

<style scoped>
.socials-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-content: center;
}

.social {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel__contacts .socials-list {
  justify-content: flex-start;
}

.side-panel__contacts .social {
  margin-left: 20px;
}

.side-panel__contacts .social:first-child {
  margin-left: 0;
}
</style>