<template>
  <a href="#">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.7149 17.94L10.2889 20.299C10.0069 20.573 9.78392 20.804 9.27892 20.804L9.62292 15.655L18.9869 7.20502C19.3979 6.84002 18.8969 6.66202 18.3519 6.99302L6.79492 14.284L1.80292 12.726C0.724919 12.396 0.716919 11.655 2.04492 11.122L21.4979 3.62102C22.3859 3.21802 23.2439 3.83402 22.9049 5.19402L19.5919 20.806C19.3609 21.915 18.6899 22.181 17.7619 21.668L12.7149 17.94Z"
        fill="#1B2738"
      />
    </svg>
  </a>
</template>

<script>
export default {
  name: "Telegram",
};
</script>