<template>
  <a href="#">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M23.0002 5.25994C22.1522 5.63994 21.2452 5.89594 20.2932 6.01094C21.2652 5.41994 22.0132 4.48294 22.3642 3.36794C21.4522 3.91494 20.4432 4.31194 19.3682 4.52794C18.5082 3.59794 17.2842 3.01794 15.9282 3.01794C13.3242 3.01794 11.2112 5.15894 11.2112 7.79694C11.2112 8.17194 11.2542 8.53694 11.3332 8.88694C7.41316 8.68594 3.93816 6.78394 1.61216 3.89094C1.20816 4.59794 0.97416 5.41994 0.97416 6.29594C0.97416 7.95494 1.83916 9.41494 3.10616 10.2729C2.33116 10.2479 2.00016 10.0319 1.00016 9.67494C1.00016 9.69694 1.00016 9.71594 1.00016 9.73694C1.00016 12.0509 2.59316 13.9819 4.75016 14.4209C4.35416 14.5299 3.92116 14.5889 3.49216 14.5889C3.19016 14.5889 2.88516 14.5599 2.59616 14.5019C3.19716 16.4019 4.93516 17.7839 6.99716 17.8209C5.38416 19.1039 3.34816 19.8659 1.13916 19.8659C0.75816 19.8659 0.38316 19.8449 0.0141602 19.8029C2.10116 21.1579 4.57916 21.9489 7.24216 21.9489C15.9182 21.9489 20.6602 14.6679 20.6602 8.35294C20.6602 8.14494 20.6562 7.93994 20.6462 7.73494C21.5662 7.05894 22.3672 6.21694 23.0002 5.25994Z"
        fill="#1B2738"
      />
    </svg>
  </a>
</template>

<script>
export default {
  name: "Twitter",
};
</script>