<template>
  <a href="#">
    <svg
      width="24"
      height="18"
      viewBox="0 0 24 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M23.533 3.49998C23.363 2.22498 22.33 1.23698 21.047 1.12098L21.041 1.11998C14.992 0.571984 8.90698 0.571984 2.85898 1.11998L2.85298 1.12098C1.56898 1.23698 0.536982 2.22498 0.366982 3.49998L0.365982 3.50398C-0.121018 7.15098 -0.121018 10.848 0.365982 14.495L0.366982 14.499C0.536982 15.773 1.56898 16.762 2.85298 16.878L2.85898 16.879C8.90698 17.427 14.992 17.427 21.041 16.879L21.047 16.878C22.33 16.762 23.363 15.774 23.533 14.499C24.021 10.849 24.021 7.14998 23.533 3.49998ZM9.99998 13.016V4.99998L16.984 8.99998L9.99998 13.016Z"
        fill="#333333"
      />
    </svg>
  </a>
</template>

<script>
export default {
  name: "Youtube",
};
</script>