<template>
  <div class="container">
    <ul class="product-cards">
      <li v-for="product in products" :key="product.id">
        <div class="product-card shadow-sm">
          <img
            class="product-image"
            :src="product.src"
            alt="product t-shirt"
            width="200px"
          />
          <div class="description-section">
            <h4 class="product-title">{{ product.title }}</h4>
            <div class="card-footer">
              <span class="product-price">
                {{ product.price + product.currency }}
              </span>
              <button class="product-basket">
                <img
                  src="../../img/product-basket.png"
                  alt="add to basket button"
                />
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Products",
  data() {
    return {
      products: [
        {
          id: 1,
          title: "ELEVE white",
          src:
            "https://4.imimg.com/data4/AA/HC/MY-26596027/men-s-fancy-t-shirt-500x500.jpg",
          price: 25,
          currency: "$",
        },
        {
          id: 2,
          title: "ELEVE black",
          src:
            "https://4.imimg.com/data4/AA/HC/MY-26596027/men-s-fancy-t-shirt-500x500.jpg",
          price: 30,
          currency: "$",
        },
        {
          id: 3,
          title: "ELEVE colorful",
          src:
            "https://4.imimg.com/data4/AA/HC/MY-26596027/men-s-fancy-t-shirt-500x500.jpg",
          price: 25,
          currency: "$",
        },
        {
          id: 4,
          title: "ELEVE with print",
          src:
            "https://4.imimg.com/data4/AA/HC/MY-26596027/men-s-fancy-t-shirt-500x500.jpg",
          price: 20,
          currency: "$",
        },
      ],
    };
  },
};
</script>

<style scoped>
.container {
  padding: 25vh 10%;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul > li {
  padding: 0;
}

.product-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 40px;
}

.product-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
}

.product-image {
  width: 100%;
}

.description-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-footer {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.product-basket {
  background-color: #1b2738;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-basket:hover {
  background-color: #42597a;
}
</style>