<template>
  <client-only>
    <!-- important to add no-ssr -->

    <carousel
      :autoplay="true"
      :nav="false"
      :items="3"
      :dots="false"
      :loop="true"
      :margin="30"
    >
      <div class="slider-card">
        <img class="slider-img" src="https://placeimg.com/200/200/any?1" />
        <h4 class="text-xl">Категория 1</h4>
      </div>

      <div class="slider-card">
        <img class="slider-img" src="https://placeimg.com/200/200/any?2" />
        <h4 class="text-xl">Категория 1</h4>
      </div>

      <div class="slider-card">
        <img class="slider-img" src="https://placeimg.com/200/200/any?3" />
        <h4 class="text-xl">Категория 1</h4>
      </div>

      <div class="slider-card">
        <img class="slider-img" src="https://placeimg.com/200/200/any?4" />
        <h4 class="text-xl">Категория 1</h4>
      </div>
    </carousel>
  </client-only>
</template>

<script>
export default {
  name: "ProductSlider",
};
</script>

<style scoped>
.slider-img {
  margin-bottom: 15px;
}
</style>