<template>
  <div class="container">
    <h2 class="reg__title text-4xl text-gray-900">Восстановить пароль</h2>
    <form>
      <label class="form-content" for="tel-or-email">Email:</label>
      <input class="form-content change-form" id="email" type="email" />

      <div class="reg-or-auth__block">
        <input id="restore-pass" type="button" value="Восстановить пароль" />
        <nuxt-link to="/clientaccount/session/newsession" class="auth-link">Я вспомнил пароль</nuxt-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "ChangePassword",
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}

.reg__title {
  margin-bottom: 20px;
}

form {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.form-content {
  margin-bottom: 10px;
}

.change-form {
  border: 1px solid rgb(29, 29, 29);
  border-radius: 2px;
  padding: 3px;
}

.change-form:focus-visible {
  border-color: rgb(135, 135, 135);
  box-shadow: 0px 0px 2px 2px #b3b3b3;
  outline: none;
}

.reg-or-auth__block {
  padding: 30px 0 30px 0;
}

.reg-button {
  margin-right: 10px;
}

#restore-pass {
  padding: 10px 20px;
  background-color: #191c31;
  color: white;
  margin-right: 20px;
  transition: 0.3s;
}

#restore-pass:hover {
  background-color: #2f4e59;
}

.auth-link {
  background-color: white;
  border-bottom: 1px dotted black;
}

.auth-link:hover {
  color: black;
}
</style>