<template>
  <div class="container">
    <h2 class="reg__title text-4xl text-gray-900">Вход в учетную запись</h2>
    <form>
      <label class="form-content" for="tel-or-email">Телефон или email</label>
      <input class="form-content auth-form" id="tel-or-email" type="text" />
      <label class="form-content" for="password">Пароль:</label>
      <input class="form-content auth-form" type="password" name="password" id="password" />

      <div class="reg-or-auth__block">
        <input id="auth-btn" type="button" value="Войти" />
        <nuxt-link to="/clientaccount/password/changepassword" class="restore-pass">Восстановить пароль</nuxt-link>
        <nuxt-link to="/clientaccount/contacts/newaccount" class="reg-link">Зарегестрироваться</nuxt-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "NewSession",
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}

.reg__title {
  margin-bottom: 20px;
}

form {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.form-content {
  margin-bottom: 10px;
}

.auth-form {
  border: 1px solid rgb(29, 29, 29);
  border-radius: 2px;
  padding: 3px;
}

.auth-form:focus-visible {
  border-color: rgb(135, 135, 135);
  box-shadow: 0px 0px 2px 2px #b3b3b3;
  outline: none;
}

.reg-or-auth__block {
  padding: 30px 0 30px 0;
}

.reg-button {
  margin-right: 10px;
}

#auth-btn {
  padding: 10px 20px;
  background-color: #191c31;
  color: white;
  margin-right: 20px;
  transition: 0.3s;
}

#auth-btn:hover {
  background-color: #2f4e59;
}

.restore-pass {
  background-color: white;
  border-bottom: 1px dotted black;
  margin-right: 20px;
}

.restore-pass:hover {
  color: black;
}

.reg-link {
  background-color: white;
  border-bottom: 1px dotted black;
}

.reg-link:hover {
  color: black;
}

</style>