<template>
  <div class="side-menu__block" @click="hideMenu()">
    <div class="side-panel">
      <nav class="side-panel__head">
        <ul class="side-panel__categories">
          <li>
            <h3
              class="side-panel__head-title text-2xl font-medium text-gray-900"
            >
              Каталог
            </h3>
          </li>
          <li>
            <a class="text-lg font-light text-gray-600" href="#">
              Категория 1
            </a>
          </li>
          <li>
            <a class="text-lg font-light text-gray-600" href="#">
              Категория 2
            </a>
          </li>
          <li>
            <a class="text-lg font-light text-gray-600" href="#">
              Категория 3
            </a>
          </li>
        </ul>
      </nav>
      <nav class="side-panel__menu">
        <ul>
          <li>
            <h3 class="menu-title text-2xl font-medium text-gray-900">
              Верхнее меню
            </h3>
          </li>
          <li>
            <nuxt-link class="font-light text-gray-600" to="/collection">
              Каталог
            </nuxt-link>
          </li>
          <li>
            <nuxt-link class="font-light text-gray-600" to="/aboutus">
              О компании
            </nuxt-link>
          </li>
          <li>
            <nuxt-link class="font-light text-gray-600" to="/contacts">
              Контакты
            </nuxt-link>
          </li>
          <li>
            <nuxt-link class="font-light text-gray-600" to="/delivery">
              Доставка
            </nuxt-link>
          </li>
          <li>
            <nuxt-link class="font-light text-gray-600" to="/payment">
              Оплата
            </nuxt-link>
          </li>
          <li>
            <nuxt-link
              class="font-light text-gray-600"
              to="/clientAccount/session/newsession"
            >
              Личный кабинет
            </nuxt-link>
          </li>
          <li>
            <nuxt-link class="font-light text-gray-600" to="/blog">
              Блог
            </nuxt-link>
          </li>
        </ul>
      </nav>
      <nav class="side-panel__contacts">
        <ul>
          <li>
            <h3 class="contacts__title text-2xl font-medium text-gray-900">
              Контакты
            </h3>
          </li>
          <li>
            <span class="font-light text-gray-600"> +380(66)-566-16-83 </span>
          </li>
          <li>
            <span class="font-light text-gray-600">
              г. Киев, Радунская ул., 18а
            </span>
          </li>
          <li>
            <Socials class="socials" />
          </li>
        </ul>
      </nav>
    </div>
    <button @click="hideMenu()" class="exit-menu__btn"></button>
  </div>
</template>

<script>
import Socials from "./Socials/Socials.vue";
import AboutUs from "../pages/AboutUs";
import Contacts from "../pages/Contacts";
import Delivery from "../pages/Delivery";
import Payment from "../pages/Payment";
import Blog from "../pages/Blog";

export default {
  components: { Socials, AboutUs, Contacts, Delivery, Payment, Blog },
  name: "AsideMenu",
  methods: {
    hideMenu: function () {
      if (process.client) {
        let sidePanel = document.querySelector(".side-menu__block");
        if (sidePanel) {
          sidePanel.classList.remove("is-show");
        } else {
          console.log("error");
        }
      }
    },
  },
};
</script>


<style scoped>
ul {
  list-style-type: none;
}

li {
  padding: 16px 0;
}

.side-menu__block {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 2;
}

.exit-menu__btn {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 520px;
}

.exit-menu__btn::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 5px;
  transform: rotate(45deg);
}

.exit-menu__btn::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 5px;
  transform: rotate(-45deg);
}

.side-panel {
  overflow-y: scroll;
  background-color: white;
  width: 500px;
  height: 100%;
  padding: 3vh 30px;
  display: block;
  position: absolute;
  left: 0;
}

.side-panel__head {
  padding-bottom: 2vh;
}

.side-panel__categories li {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.side-panel__menu {
  padding-bottom: 2vh;
}

.side-panel__menu li {
  padding: 10px 0;
}

.side-panel__contacts li {
  padding: 10px 0;
}

.socials {
  margin-top: 20px;
}

.is-show {
  display: flex;
}
</style>