<template>
  <div class="container">
    <footer class="footer">
      <div class="footer__side-block address-content">
        <span class="number"> +380(66)-566-16-83 </span>
        <span class="street"> г. Киев, Радунская ул., 18а </span>
      </div>
      <div class="footer__logo-text">
        <nuxt-link to="/">
          <span class="logo text-6xl font-extralight tracking-tighter">
            ELEVE
          </span>
        </nuxt-link>
      </div>
      <div class="footer__side-block socials-block">
        <div class="socials">
          <Socials />
        </div>
        <div class="footer__visa">
          <Visa />
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Visa from "./Logos/Visa";
import Socials from "./Socials/Socials.vue";

export default {
  components: { Socials, Visa },
  name: "Footer",
};
</script>

<style scoped>
.container {
  padding: 0 5%;
  margin-top: auto;
  max-width: none;
}

.footer {
  display: flex;
  height: 122px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer__side-block {
  min-width: 15vw;
  max-width: 20vw;
}

.address-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials-block {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.socials-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-content: center;
}

.social {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__visa {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>