<template>
  <header class="header">
    <div class="header-container">
      <div class="header__side-block">
        <button @click="showMenu()" class="header-button__menu">
          <div class="icon icon-bars"></div>
          <span class="header__show-menu-text">Меню</span>
        </button>
      </div>
      <div class="header__area-logo">
        <span class="header__logo">
          <h1
            class="header__logo-text text-6xl font-extralight tracking-tighter"
          >
            <nuxt-link to="/">ELEVE</nuxt-link>
          </h1>
        </span>
      </div>
      <ul class="header__side-block header__area-controls-list">
        <li>
          <div class="header-search">
            <div class="header-search__inputNBtn">
              <input
                id="search-input"
                type="text"
                class="header-search__input"
              />
              <button class="header-search__btn" @click="hideSearch()">
                <div class="icon header-search__btn-close">
                  <CancelLogo />
                </div>
              </button>
            </div>
            <button class="header__search-button" @click="showSearch()">
              <div class="icon icon-search">
                <SearchLogo />
              </div>
            </button>
          </div>
        </li>
        <li>
          <nuxt-link
            to="/clientAccount/session/newsession"
            class="icon icon-user"
          >
            <UserLogo />
          </nuxt-link>
        </li>
        <li>
          <nuxt-link
            to="/favourite"
            class="header__control-btn header__compare"
          >
            <div class="icon icon-compare">
              <FavouriteLogo />
            </div>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/basket" class="header__control-btn header__cart">
            <div class="icon icon-cart">
              <ShoppingCartLogo />
            </div>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
import SearchLogo from "../components/Logos/SearchLogo.vue";
import UserLogo from "../components/Logos/UserLogo";
import FavouriteLogo from "../components/Logos/FavouriteLogo";
import ShoppingCartLogo from "../components/Logos/ShoppingCartLogo";
import Favourite from "../pages/Favourite";
import Basket from "../pages/Basket";
import CancelLogo from "./Logos/CancelLogo";

export default {
  name: "Header",
  components: {
    SearchLogo,
    UserLogo,
    FavouriteLogo,
    ShoppingCartLogo,
    Favourite,
    Basket,
    CancelLogo,
  },
  methods: {
    showMenu: function () {
      if (process.client) {
        let sidePanel = document.querySelector(".side-menu__block");
        if (sidePanel) {
          sidePanel.classList.add("is-show");
        } else {
          console.log("error");
        }
      }
    },
    showSearch: function () {
      if (process.client) {
        let searchInput = document.querySelector(".header-search__inputNBtn");
        if (searchInput) {
          searchInput.classList.add("show-search");
        } else {
          console.log("error");
        }
      }
    },
    hideSearch: function () {
      if (process.client) {
        let searchInput = document.querySelector(".header-search__inputNBtn");
        if (searchInput) {
          searchInput.classList.remove("show-search");
        } else {
          console.log("error");
        }
      }
    },
  },
};
</script>

<style scoped>
.header {
  width: 100%;
  display: block;
  padding: 0 0 30px 0;
}

.header-container {
  width: 100%;
  padding: 2vh 5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__side-block {
  min-width: 15vw;
  max-width: 20vw;
}

.icon {
  width: 30px;
  height: 30px;
}

.header__side-block button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  display: flex;
  position: relative;
}

.header-search__input {
  background-color: aliceblue;
  height: 43px;
  padding: 5px;
  display: block;
  min-width: 54vw;
  max-width: 70vw;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.header-search__inputNBtn {
  display: none;
  position: absolute;
  top: -3px;
  right: 0;
  background-color: white;
}

.icon-bars {
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  position: relative;
}

.icon-bars::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  width: 30px;
  height: 2px;
  background-color: black;
}

.icon-bars::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  width: 30px;
  height: 2px;
  background-color: black;
}

.header__show-menu-text {
  margin-left: 0.8rem;
}

.header__area-controls-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  padding: 0 20px;
}

li:first-child {
  padding: 0 20px 0 0;
}

li:last-child {
  padding: 0 0 0 20px;
}

.show-search {
  display: flex;
}
</style>