<template>
  <client-only>
    <!-- important to add no-ssr -->
    <carousel
      :autoplay="true"
      :nav="false"
      :items="3"
      :dots="false"
      :loop="true"
      :margin="30"
    >
      <img src="https://placeimg.com/200/200/any?1" />

      <img src="https://placeimg.com/200/200/any?2" />

      <img src="https://placeimg.com/200/200/any?3" />

      <img src="https://placeimg.com/200/200/any?4" />
    </carousel>
  </client-only>
</template>

<script>
export default {
  name: "MainSlider",
};
</script>

<style scoped>
</style>