<template>
  <svg
    width="56"
    height="18"
    viewBox="0 0 56 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0)">
      <path
        d="M24.2805 16.6194H19.844L22.6189 0.714844H27.0551L24.2805 16.6194Z"
        fill="#00579F"
      />
      <path
        d="M40.3629 1.1029C39.4878 0.781096 38.0999 0.425781 36.3837 0.425781C32.0026 0.425781 28.9174 2.5914 28.8985 5.68759C28.8621 7.97194 31.1074 9.24073 32.7866 10.0024C34.5031 10.7807 35.0865 11.2887 35.0865 11.9825C35.069 13.048 33.6996 13.5391 32.4223 13.5391C30.651 13.5391 29.702 13.2859 28.2597 12.6931L27.6755 12.439L27.0547 16.0093C28.0952 16.4487 30.0122 16.8386 32.0026 16.8557C36.6576 16.8557 39.6882 14.7236 39.7241 11.4241C39.7418 9.61359 38.5562 8.22629 36.0002 7.09265C34.4485 6.36493 33.4982 5.87424 33.4982 5.12965C33.5164 4.45276 34.3019 3.75944 36.0535 3.75944C37.4958 3.72548 38.5555 4.04684 39.3583 4.36842L39.7595 4.53731L40.3629 1.1029Z"
        fill="#00579F"
      />
      <path
        d="M46.3976 11.3106C46.7795 10.3547 48.249 6.65482 48.249 6.65482C48.2297 6.69035 48.6301 5.68121 48.8591 5.06171L49.1832 6.49553C49.1832 6.49553 50.0614 10.4787 50.2521 11.3106C49.5273 11.3106 47.3135 11.3106 46.3976 11.3106ZM52.1218 0.56543H48.5348C47.4287 0.56543 46.5883 0.866123 46.111 1.94608L39.2229 17.2054H44.0887C44.0887 17.2054 44.8898 15.1516 45.062 14.7093C45.5957 14.7093 50.3292 14.7093 51.0159 14.7093C51.149 15.2935 51.5692 17.2054 51.5692 17.2054H55.8629L52.1218 0.56543Z"
        fill="#00579F"
      />
      <path
        d="M16.1383 0.714844L11.7935 11.5603L11.3188 9.36068C10.5155 6.82266 7.99633 4.06515 5.18506 2.69404L9.1647 16.6026H13.8561L20.8295 0.714844H16.1383Z"
        fill="#00579F"
      />
      <path
        d="M7.75895 0.714844H0.621119L0.548096 1.0362C6.11605 2.35604 9.8036 5.53745 11.3187 9.36136L9.76697 2.05177C9.51151 1.03598 8.72645 0.748351 7.75895 0.714844Z"
        fill="#00579F"
      />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect
          width="55.8629"
          height="16.64"
          fill="white"
          transform="translate(0 0.56543)"
        />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: "Visa",
};
</script>