<template>
  <div class="body">
    <Header />
    <AsideMenu />
    <Nuxt class="content" />
    <ProductModal class="modal"/>
    <Footer />
  </div>
</template>

<script>
import AsideMenu from "../components/AsideMenu.vue";
import Footer from "../components/Footer";
import Header from "../components/Header.vue";
import ProductModal from "../components/Products/modals/ProductModal.vue"

export default {
  components: { Header, Footer, AsideMenu, ProductModal },
};
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

#__nuxt,
#__layout {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(38, 38, 38);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(38, 38, 38);
}
</style>
