<template>
  <div class="container">
    <h2 class="about-us__title text-4xl text-gray-900">О компании</h2>
    <div class="about-us__block"></div>
  </div>
</template>

<script>
export default {
  name: "AboutUs",
  data() {
    return {};
  },
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}
</style>