<template>
  <div class="container">
    <h2 class="basket__title text-4xl text-gray-900">Корзина</h2>
    <div class="basket__block">
      <ul class="basket__list">
        <li class="basket__product">
          <div class="basket__product-block"></div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Basket",
  data() {
    return {};
  },
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}
</style>