<template>
  <div class="container">
    <h2 class="blog__title text-4xl text-gray-900">Блог</h2>
    <div class="blog__block"></div>
  </div>
</template>

<script>
export default {
  name: "Blog",
  data() {
    return {};
  },
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}
</style>