<template>
  <div class="container">
    <ul class="categories-nav">
      <li class="categories-nav__item">
        <nuxt-link class="categories-nav__item-link" to="/">Главная</nuxt-link>
      </li>
      <li class="categories-nav__item">
        <h4 class="categories-nav__item-link">Каталог</h4>
      </li>
    </ul>
    <div class="categories-slider">
      <h4 class="categories-slider__title text-2xl">Каталог</h4>
      <ProductSlider />
    </div>
    <div class="categories-filter__container">
      <div class="categories-filter">
        <div class="categories-filter__block">
          <button class="filter-btn">
            <img
              src="../img/filter.png"
              alt="filter icon"
              width="25px"
              height="25px"
            />
          </button>
          <span class="filter-text">Фильтр</span>
        </div>
        <div class="categories-sorting__block">
          <span class="sorting-text">Сортировка</span>
          <button class="sorting-btn">
            <img
              src="../img/sorting.png"
              alt="sorting icon"
              width="25px"
              height="25px"
            />
          </button>
        </div>
      </div>
    </div>
    <Products />
  </div>
</template>

<script>
import ProductSlider from "../components/Products/ProductsSlider";
import Products from "../components/Products/index";

export default {
  name: "Collection",
  components: { ProductSlider, Products },
};
</script>

<style scoped>
.container {
  padding: 0 5%;
}

.categories-nav {
  padding: 0 20vw 0 20vw;
  margin: 40px 0;
  list-style-type: disc;
  display: flex;
  justify-content: flex-start;
}

.categories-nav__item {
  display: block;
  padding-left: 40px;
}

.categories-nav__item:first-child::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(116, 116, 116);
  position: absolute;
  left: 4.8em;
  top: 12px;
}

.categories-nav__item:first-child {
  padding-left: 0;
  position: relative;
}

.categories-nav__item-link {
  color: rgb(116, 116, 116);
}

.categories-slider {
  padding: 5vh 15vw;
}

.categories-slider__title {
  margin-bottom: 30px;
}

.categories-filter__container {
  padding: 40px 15vw;
}

.categories-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-filter__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn {
  margin-right: 10px;
}

.categories-sorting__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-btn {
  margin-left: 10px;
}
</style>