<template>
  <div class="container">
    <h2 class="contacts__title text-4xl text-gray-900">Контакты</h2>
    <div class="contacts__block"></div>
  </div>
</template>

<script>
export default {
  name: "Contacts",
  data() {
    return {};
  },
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}
</style>