<template>
  <div class="container">
    <h2 class="delivery__title text-4xl text-gray-900">Доставка</h2>
    <div class="delivery__block"></div>
  </div>
</template>

<script>
export default {
  name: "Delivery",
  data() {
    return {};
  },
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}
</style>