<template>
  <div class="container">
    <h2 class="favourite__title text-4xl text-gray-900">Избранное</h2>
    <div class="favourite__block">
      <ul class="favourite__list">
        <li class="favourite__product">
          <div class="favourite__product-block"></div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Favourite",
  data() {
    return {};
  },
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}
</style>