<template>
  <div class="container">
    <main class="main">
      <div class="main-container">
        <MainSlider />
      </div>
    </main>
    <Products />
  </div>
</template>

<script>
import MainSlider from "../components/IndexPage/MainSlider";
import Products from "../components/Products/index";

export default {
  components: {
    MainSlider,
    Products,
  },
};
</script>


<style lang="css" scoped>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
}
</style>
