<template>
  <div class="container">
    <h2 class="payment__title text-4xl text-gray-900">Оплата</h2>
    <div class="payment__block"></div>
  </div>
</template>

<script>
export default {
  name: "Payment",
  data() {
    return {};
  },
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}
</style>