<template>
  <div class="container">
    <h2 class="reg__title text-4xl text-gray-900">Регистрация</h2>
    <form>
      <label class="form-content" for="name">Контактное лицо (ФИО):</label>
      <input class="form-content reg-form" id="name" type="text" />
      <label class="form-content" for="number">Контактный телефон:</label>
      <input class="form-content reg-form" type="tel" name="tel" id="tel" />
      <label class="form-content" for="email">Email:</label>
      <input
        class="form-content reg-form"
        type="email"
        name="email"
        id="email"
      />
      <label class="form-content" for="password">Пароль:</label>
      <input
        class="form-content reg-form"
        type="password"
        name="password"
        id="password"
      />
      <label class="form-content" for="re-password">Повторите пароль:</label>
      <input
        class="form-content reg-form"
        type="password"
        name="re-password"
        id="re-password"
      />
      <div class="reg-or-auth__block">
        <input id="reg-btn" type="submit" value="Зарегестрироваться" />
        <nuxt-link to="/clientaccount/session/newsession" class="auth-link">У меня уже есть аккаунт</nuxt-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "NewAccount",
};
</script>

<style scoped>
.container {
  padding: 2vh 5%;
}

.reg__title {
  margin-bottom: 20px;
}

form {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.form-content {
  margin-bottom: 10px;
}

.reg-form {
  border: 1px solid rgb(29, 29, 29);
  border-radius: 2px;
  padding: 3px;
}

.reg-form:focus-visible {
  border-color: rgb(135, 135, 135);
  box-shadow: 0px 0px 2px 2px #b3b3b3;
  outline: none;
}

.reg-or-auth__block {
  padding: 30px 0 30px 0;
}

.reg-button {
  margin-right: 10px;
}

#reg-btn {
  padding: 10px 20px;
  background-color: #191c31;
  color: white;
  margin-right: 20px;
  transition: 0.3s;
}

#reg-btn:hover {
  background-color: #2f4e59;
}

.auth-link {
  background-color: white;
  border-bottom: 1px dotted black;
}

.auth-link:hover {
  color: black;
}
</style>